CP_CW_8392.UI/Connected Services/SwipeCollection/SwipeCollectionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CP_CW_8392.BLL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CP_CW_8392.BLL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTerminal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Terminal" nillable="true" type="tns:Terminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminal" nillable="true" type="tns:ArrayOfTerminal" />
  <xs:complexType name="Terminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terminal" nillable="true" type="tns:Terminal" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="InProcess" />
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfSwipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Swipe" nillable="true" type="tns:Swipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSwipe" nillable="true" type="tns:ArrayOfSwipe" />
  <xs:complexType name="Swipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAdddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="SwipeDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Swipe" nillable="true" type="tns:Swipe" />
</xs:schema>