CP_CW_8392.UI/Connected Services/SwipeCollection/SwipeCollectionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62906/SwipeCollectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CP_CW_8392.BLL.Models" />
  <xs:element name="StartCollectingSwipes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CP_CW_8392.BLL.Models" minOccurs="0" name="GetStatusResult" nillable="true" type="q1:ArrayOfTerminal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSwipes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSwipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CP_CW_8392.BLL.Models" minOccurs="0" name="GetAllSwipesResult" nillable="true" type="q2:ArrayOfSwipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>